@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
	--holiday-blue-srgb:#0007FF;
	--holiday-blue-p3:none;
	--dark-blue:#00031b;
	--blue-grey:#4e516b;
	--light-blue:#edf3f6;
	--20px:1.25em;
	--30px:1.875em;
	--40px:2.5em;
}

body{
	background: var(--light-blue);
	font-size: 1rem;
	margin: 0 auto;
	font-family: 'DM Sans', sans-serif;
	box-sizing: border-box;
}

.settings,
.main-title,
.menu{
	background: white;
}

.main-title{
	height: var(--30px);
	padding: 0 20px;
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo{
/*	the img*/
	left: 1.25em;
	width: 12.81em;
	height: auto;
	display: block;
}

.settings{
	display: flex;
	gap: 1.25em;
	padding-right: var(--20px);
	height: 2.125em;
	align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.75rem;
    color: var(--blue-grey);
}

.settings img{
	width: 0.625rem;
}

.settings div{
	display: flex;
	gap: 0.25em;
}

.settings-link{
	text-decoration: none;
	color: var(--holiday-blue-srgb);
}

.menu{
	height: var(--40px);
	position: sticky;
	top: 0;
	overflow-x: scroll;
	white-space: nowrap;
	display: flex;
	align-items: flex-end;
}

.menu a {
	text-decoration: none;
	padding: 0 5px;
	line-height: var(--40px);
	text-align: center;
	margin: 0;
	font-size: 1em;
	font-weight: 500;
}

.menu::-webkit-scrollbar{
	display: none;
}

.highlights{
	width: 100%;
	background: var(--dark-blue);
	height: 1px;
}

.active{
	color: var(--dark-blue);
}

.inactive{
	color: var(--blue-grey);
}

.menu-items{
	display: flex;
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
}

h1{
	font-size: 2.25rem;
	color: var(--dark-blue);
	margin: 0;
}

p{
	font-size: 1em;
	color: var(--blue-grey);
}

article{
	padding-left: 2.5rem;
	padding-block-start: 2.5em;
	min-width: 62.5rem;
}

@media (orientation: portrait) {
	
	.main-title{
		height: 5em;
	}

	article{
		min-width: 18.75rem;
		padding: 1.875rem;
	}
}


















